@font-face {
    font-family: 'TrueLies';
    src: url('/fonts/TrueLies.ttf');
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    color: #f0efef;
    background-color: #030314;
    -webkit-font-smoothing: antialiased;
}
html {
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 10px 0 10px;
    font-size: 18px;
    line-height: 1.5;
}
@media(min-width:1382px) {
    p {
        margin: 15px 0 15px;
        font-size: 18px;
        line-height: 1.6;
    }
}
@media(min-width:768px) {
    p {
        margin: 15px 0 15px;
        font-size: 18px;
        line-height: 1.6;
    }
}
a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:focus {
    text-decoration: none;
    color: #11505d;
}
.light {
    font-weight: 400;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #000;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255, 255, 255, .3);
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255, 255, 255, .3);
}
@media(min-width:1382px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: #181818;
    }
}
@media(min-width:768px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: #181818;
    }
}
.hero {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: #181818;
    background-image: url(../img/background/test.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.abs-centering {
    position: absolute;
    top: 45%;
    left: 16%;
}
.no-float {
    float:none;
}
.particles {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /*background-color: #181818;*/
}
.hero .centered {
    padding: 40rem 0;
}
.true-lies {
    font-family: 'TrueLies';
    font-weight: 300;
}
.hero-quote {
    font-size: 3.8em;
}
.hero-sub-quote {
    font-family: "Helvetica Neue";
    font-size: 2em;
    font-weight: 200;
    opacity: 0.7;
    letter-spacing: 0.3em;
}
.glitch {
  color: #fff;
  text-align: center;
  letter-spacing: 0.01em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #030314;
  color: #fff;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 10px;
  text-shadow: 1px 0 green;
  -webkit-animation: glitch-effect 3s infinite linear alternate-reverse;
          animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 1px;
  text-shadow: -1px 0 red;
  -webkit-animation: glitch-effect 2s infinite linear alternate-reverse;
          animation: glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(3px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(69px, 9999px, 53px, 0);
  }
  10% {
    clip: rect(40px, 9999px, 55px, 0);
  }
  15.0% {
    clip: rect(91px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(61px, 9999px, 79px, 0);
  }
  25% {
    clip: rect(97px, 9999px, 59px, 0);
  }
  30.0% {
    clip: rect(70px, 9999px, 32px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 68px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(73px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(84px, 9999px, 91px, 0);
  }
  55.0% {
    clip: rect(26px, 9999px, 92px, 0);
  }
  60.0% {
    clip: rect(68px, 9999px, 1px, 0);
  }
  65% {
    clip: rect(5px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(82px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(96px, 9999px, 60px, 0);
  }
  80% {
    clip: rect(83px, 9999px, 28px, 0);
  }
  85.0% {
    clip: rect(76px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 60px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 71px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(3px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(69px, 9999px, 53px, 0);
  }
  10% {
    clip: rect(40px, 9999px, 55px, 0);
  }
  15.0% {
    clip: rect(91px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(61px, 9999px, 79px, 0);
  }
  25% {
    clip: rect(97px, 9999px, 59px, 0);
  }
  30.0% {
    clip: rect(70px, 9999px, 32px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 68px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(73px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(84px, 9999px, 91px, 0);
  }
  55.0% {
    clip: rect(26px, 9999px, 92px, 0);
  }
  60.0% {
    clip: rect(68px, 9999px, 1px, 0);
  }
  65% {
    clip: rect(5px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(82px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(96px, 9999px, 60px, 0);
  }
  80% {
    clip: rect(83px, 9999px, 28px, 0);
  }
  85.0% {
    clip: rect(76px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 60px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 71px, 0);
  }
}
@media(min-width:768px) {
    .hero {
        height: 100%;
        padding: 0;
    }
    .hero .intro-body .brand-heading {
        font-size: 50px;
    }
    .hero .intro-body .intro-text {
        font-size: 25px;
    }
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.content-section {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#map {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
}
@media(min-width:768px) {
    .content-section {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 15px;
        padding-bottom: 50px;
    }
}
@media(min-width:1382px) {
    .content-section {
        padding-top: 140px;
        padding-bottom: 200px;
    }
}
.btn {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}
ul.banner-social-buttons {
    margin-top: 0;
}
@media(max-width:1382px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media(max-width:768px) {
    ul.banner-social-buttons li {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
footer {
    padding: 50px 0;
}
footer p {
    margin: 0;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
.img-circle {
    border-radius: 50%;
}
.border {
    display: block;
    width: 100px;
    height: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: none repeat scroll 0 0 gray;
}
.sub {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-bottom: 5px;
    line-height: 1em;
    font-weight: bold;
    font-size: 18px;
}
.no-padding {
    padding-left: 0px;
}
.center {
    text-align: center;
}
.logo {
    width: 40px;
}
.lower {
    text-transform: lowercase;
}
.upper {
    text-transform: uppercase;
}

/* Explain */

.svg-icon {
    margin: 1.5em 0;
    height: 7em;
    width: 7em;
    background-size: 6em 6em;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.hero-explain {
    padding-top: 8%;
    padding-bottom: 8%;
}
.explain-block {
    text-align: center
}
.explain-block h4 {
    font-weight: 300;
    letter-spacing: 0.3em;
}
.world-icon {
    background-image: url(../assets/world.svg);
}
.terminal-icon {
    background-image: url(../assets/terminal.svg);
}
.scrap-icon {
    background-image: url(../assets/scrap.svg);
}
.code-icon {
    background-image: url(../assets/code.svg);
}
.lightbubble-icon {
    background-image: url(../assets/lightbubble.svg);
}

/* Story */

.hero-story {
    background-image: url(../img/background/b.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 8%;
    padding-bottom: 8%;
}
.story-block {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.story-block h2 {
    font-weight: 300;
    letter-spacing: 0.3em;
}

/* About */

/*@media(min-width: 1441px){
    #about {
        padding-bottom: 380px;
    }
}*/

.hero-about {
    padding-top: 8%;
    padding-bottom: 8%;
}
.about-block {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: none;
}
.about-block h2 {
    font-weight: 200;
    letter-spacing: 0.3em;
}
.img-about {
    border-radius: 50%;
    margin-top: 5em;
}
.about-centering {
    width: auto;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}
.about-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
}

/* Exp */
.hero-exp {
    padding-top: 8%;
    padding-bottom: 8%;
}
.exp-block {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: none;
}
.exp-block h2 {
    font-weight: 200;
    letter-spacing: 0.3em;
}

/* OTHER */
#resume {
    background-color: #030300;
}
#work {
    /*background-color: rgba(255, 255, 255, .3);*/
}
#contact {
    padding-bottom: 0px;
    margin-bottom: 210px;
}
#footer {
    padding-bottom: 15px;
    /*background-color: rgba(255, 255, 255, .3);*/
}
.catch_me {
    margin-bottom: 20px;
}
.icon-social {
    width: 32px;
}
.icon-social-git {
    width: 30px;
}
@media(min-width: 1382px) {
    .icon-social {
        width: 57px;
    }
    .icon-social-git {
        width: 55px;
    }
}
